In [1]:
import pandas as pd

In [2]:
datos = pd.read_csv('CARS_1.csv')

In [3]:
datos.head(10)

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp
0,Maruti Alto K10,51,Petrol,998,3,5.0,Automatic,27.0,Hatchback,4.5,399000,583000,89.0,3500,65.71,5500
1,Maruti Brezza,86,Petrol,1462,4,5.0,Automatic,48.0,SUV,4.5,799000,1396000,136.8,4400,101.65,6000
2,Mahindra Thar,242,Diesel,2184,4,4.0,Automatic,57.0,SUV,4.5,1353000,1603000,300.0,2800,130.00,3750
3,Mahindra XUV700,313,Diesel,2198,4,7.0,Automatic,60.0,SUV,4.5,1318000,2458000,450.0,2800,182.38,3500
4,Mahindra Scorpio-N,107,Diesel,2198,4,7.0,Automatic,57.0,SUV,4.5,1199000,2390000,400.0,2750,172.45,3500
5,Toyota Fortuner,99,Diesel,2755,4,7.0,Automatic,80.0,SUV,4.5,3240000,4957000,500.0,2800,201.15,3400
6,Hyundai Creta,731,Diesel,1493,4,5.0,Automatic,50.0,SUV,4.5,1044000,1818000,250.0,2750,113.45,4000
7,Tata Punch,381,Petrol,1199,3,5.0,Automatic,37.0,SUV,4.5,593000,949000,113.0,3400,84.48,6000
8,Mahindra Bolero,107,Diesel,1498,3,7.0,Manual,60.0,SUV,4.5,933000,1026000,210.0,2200,74.96,3600
9,Maruti Swift,205,Petrol,1197,4,5.0,Automatic,37.0,Hatchback,4.0,592000,885000,113.0,4400,88.50,6000

In [4]:
datos.tail(20)

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp
183,Mahindra Bolero Camper,88,Diesel,2523,4,5.0,Manual,57.0,Pickup Truck,4.5,2999000,3549000,200.0,2200,75.09,3200
184,Tata Nexon EV Max,1,Electric,0,0,5.0,Electric,0.0,SUV,5.0,463000,583000,250.0,0,141.04,0
185,Mahindra Bolero Neo,97,Diesel,1493,3,7.0,Manual,50.0,SUV,4.5,903000,1173000,260.0,2250,100.00,3750
186,Mahindra Bolero Neo,1,Diesel,1493,3,7.0,Manual,50.0,SUV,4.5,13500000,25700000,260.0,2250,100.00,3750
187,Audi e-tron GT,1,Electric,0,0,5.0,Electric,0.0,Coupe,4.5,5800000,5800000,630.0,0,522.99,0
188,Maruti Swift Dzire Tour,1,CNG,1197,4,5.0,Manual,55.0,Sedan,4.5,13500000,25700000,95.0,4000,70.40,6000
189,Mercedes-Benz AMG A 35,21,Petrol,1991,4,5.0,Automatic,51.0,Sedan,4.5,1989000,1989000,400.0,4000,301.73,5800
190,Mercedes-Benz GLC Coupe,5,Diesel,1950,4,5.0,Automatic,66.0,Coupe,5.0,3132000,3132000,500.0,2400,241.38,4200
191,Toyota Glanza,23,Petrol,1197,4,5.0,Automatic,37.0,Hatchback,4.5,2990000,3695000,113.0,4400,88.50,6000
192,Toyota Glanza,3,Petrol,1197,4,5.0,Automatic,37.0,Hatchback,4.5,5590000,5590000,113.0,4400,88.50,6000
193,Porsche Cayenne Coupe,1,Petrol,3996,8,4.0,Automatic,0.0,SUV,3.5,18900000,18900000,850.0,4500,631.62,6000
194,Porsche Cayenne Coupe,6,Petrol,3996,8,4.0,Automatic,0.0,SUV,3.5,391000,397000,850.0,4500,631.62,6000
195,Honda City Hybrid,1,Petrol,1498,4,5.0,Automatic,40.0,Sedan,4.5,8150000,8150000,127.0,5000,96.55,6400
196,Compass Trailhawk,1,Diesel,1998,4,5.0,Automatic,60.0,SUV,4.5,5450000,5690000,350.0,2500,170.00,3750
197,Jeep Meridian,78,Diesel,1956,4,7.0,Automatic,60.0,SUV,4.5,1615000,2075000,350.0,2500,167.67,3750
198,Mercedes-Benz AMG A 45 S,35,Petrol,1991,4,5.0,Automatic,0.0,Hatchback,4.5,659000,999000,500.0,5250,415.71,6750
199,BMW 3 Series Gran Limousine,3,Petrol,1998,4,5.0,Automatic,59.0,Sedan,4.5,1041000,1041000,400.0,4400,254.79,5000
200,MG Hector Plus,2,Diesel,1956,4,7.0,Manual,60.0,SUV,4.5,1615000,2075000,350.0,2500,167.67,3750
201,Audi RS Q8,9,Petrol,3998,8,5.0,Automatic,85.0,SUV,3.5,21700000,21700000,800.0,4500,591.39,6000
202,Maruti Alto 800 tour,4,Petrol,796,3,5.0,Manual,35.0,Hatchback,4.5,391000,397000,69.0,3500,47.33,6000

In [5]:
df1 = pd.DataFrame(datos)

In [ ]:
df1

In [24]:
datitos = df1['fuel_type']=="Diesel"

In [25]:
print (datitos)

0      False
1      False
2      False
3      False
4      False
       ...
198    False
199    False
200    False
201    False
202    False
Name: fuel_type, Length: 203, dtype: bool

In [26]:
datos.shape

(203, 16)

In [27]:
datos.size

3248

In [28]:
datos['fuel_type'].head(5)

0    Petrol
1    Petrol
2    Petrol
3    Petrol
4    Petrol
Name: fuel_type, dtype: object